<section id="menu_bar">
  <nav id="menu">
    <ul>
        <li>
            <a href="#">View Stock</a>
            <ul class="hidden">
                <li><a href="/main/full_stock">Full Stock</a></li>
                <li><a href="/main/stock_levels">Stock Levels</a></li>
                <li><a href="/main/categories">Categories</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Sales</a>
            <ul class="hidden">
                <li><a href="#">Targets</a></li>
                <li><a href="#">Waste</a></li>
            </ul>
        </li>
        <li><a href="new_product">Add Product</a></li>
        <li><a href="manufacturers">Manufacturers</a></li>
        <li><a href="/">Log Out!</a></li>
    </ul>
  </nav>
</section>
<article class="container">
  <h1> Here's all your stock listed </h1>
  <!-- <div class="flex-container"> -->

      <table class="full_stock_table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Ideal Amount</th>
            <th>Buy For</th>
            <th>Sell For</th>
          </tr>
        </thead>
        <tbody>

            <% for product in @products %>
            <tr>
              <td class="text-center">
                  <p>  <%= product.id %> </p>
              </td>
              <td>
                  <p> <%= product.name %> </p>
              </td>
              <td>
                  <p> <%= product.manufacturer.name %> </p>
              </td>
              <td>
                  <p> <%= product.category.name %> </p>
              </td>
              <!-- <td class="ellipsis">
                  <p> <%= product.description %> </p>
              </td> -->
              <td class="text-center">
                  <p> <%= product.quantity %> </p>
              </td>
              <td class="text-center">
                  <p> <%= product.unit %> </p>
              </td>
              <td class="text-center">
                  <p> <%= product.ideal_amount %> </p>
              </td>
              <td class="text-center">
                  <p> <%= product.cost_price %> </p>
              </td>
              <td class="text-center">
                  <p> <%= product.sell_price %> </p>
              </td>
            </tr>
            <% end %>

        </tbody>
      </table>
  <!-- </div> -->
</article>
