<article class="container">
  <section id="manufacturers">
    <% if @manufacturer.products == nil %>
      <h1> No product for <%= @manufacturer.name %> yet </h1>
      </br>
      <a href="/products/new_product" class="button">Add New Product</a>
      <% else %>
  <h1> All products from <%= @manufacturer.name %>, <%= @manufacturer.country %>: </h1>

      <table class="full_stock_table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Quantity</th>
            <th>A.B.V.</th>
            <th>Volume</th>
            <th>Ideal</th>
            <th>Buy For</th>
            <th>Sell For</th>
            <th>Edit</th>
            <th>Del</th>
          </tr>
        </thead>
        <tbody>
          <% for product in @products %>
            <% if @manufacturer.id == product.manufacturer_id %>
              <tr>
                <td class="text-center">
                    <p>  <%= product.id %> </p>
                </td>
                <td>
                    <p> <a href="/products/<%=product.id%>"><%= product.name %> </a></p>
                </td>
                <td>
                    <p> <a href="/categories/<%=product.category_id%>"><%= product.category.name %> </a></p>
                </td>
                <td class="text-center">
                    <p> <%= product.quantity %> </p>
                </td>
                <td class="text-center">
                    <p> <%= product.alcohol_content %> </p>
                </td>
                <td class="text-center">
                    <p> <%= product.volume %> </p>
                </td>
                <td class="text-center">
                    <p> <%= product.ideal_amount %> </p>
                </td>
                <td class="text-center">
                    <p> <%= product.cost_price %> </p>
                </td>
                <td class="text-center">
                    <p> <%= product.sell_price %> </p>
                </td>
                <td class="text-center">
                  <form method="get" action="/products/<%= product.id %>/edit_product">
                      <p><input type="image" src="/img/edit.png"/></p>
                  </form>
                </td>
                <td class="text-center">
                  <form method="post" action="/products/<%= product.id %>/delete">
                      <p><input type="image" src="/img/delete.png"/></p>
                  </form>
                </td>
              </tr>
            <% end %>
            <% end %>
            <% end %>

        </tbody>
      </table>
    </section>
</article>
