<article class="container">
  <span class="search_box">
    <form method="get" action="/products">

      <label for="searchbox">Keyword:</label>
      <input id="searchbox" type="text" placeholder="Search.." name="keyword"/>

      <input class="search" type="submit" value="search"/>

      </form>
  </span>
  <h1> Here's all your stock listed </h1>
  <div class="table_container">

      <table class="full_stock_table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Volume</th>
            <th>Ideal</th>
            <th>Buy For</th>
            <th>Sell For</th>
            <th>Edit</th>
            <th>Del</th>
          </tr>
        </thead>
        <tbody>

            <% for product in @products %>

              <tr>
              <td class="text-center">
                  <p>  <%= product.id %> </p>
              </td>
              <td>
                  <p> <a href="/products/<%=product.id%>"><%= product.name %> </a> </p>
              </td>
              <td>
                  <p> <a href="/manufacturers/<%=product.manufacturer_id%>"><%= product.manufacturer.name %> </a></p>
              </td>
              <td>
                  <p> <%= product.category.name %> </p>
              </td>
              <% if product.quantity < product.ideal_amount %>
              <td class="text-center" style="background-color: #f7bdb2">
                <% else %>
                <td class="text-center">
                  <% end %>
                  <p> <%= product.quantity %> </p>
              </td>
              <td class="text-center">
                  <p> <%= product.volume %> </p>
              </td>
              <td class="text-center">
                  <p> <%= product.ideal_amount %> </p>
              </td>
              <td class="text-center">
                  <p> <%= product.cost_price %> </p>
              </td>
              <td class="text-center">
                  <p> <%= product.sell_price %> </p>
              </td>
              <td class="text-center">
                <form method="get" action="/products/<%= product.id %>/edit_product">
                    <p><input type="image" src="/img/edit.png"/></p>
                </form>
              </td>
              <td class="text-center">
                <form method="post" action="/products/<%= product.id %>/delete">
                    <p><input type="image" src="/img/delete.png"/></p>
                </form>
              </td>
            </tr>
            <% end %>

        </tbody>
      </table>

  </div>

</article>
