<h1> Products based on stock level </h1>

<article class="container">
  <section id="levels">
      <article class="box red">
          <p>LOW</p>
          <% for product in @products %>
            <% if product.quantity < product.ideal_amount %>
                <p> <a href="/products/<%= product.id%>"> <%= product.name %> </a></p>
            <% end %>
          <% end %>
      </article>
      <article class="box amber">
          <p>Medium</p>
          <% for product in @products %>
            <% if product.quantity <= product.ideal_amount * 1.1  && product.quantity >= product.ideal_amount %>
                <p> <a href="/products/<%= product.id%>"> <%= product.name %> </a></p>
            <% end %>
          <% end %>
      </article>
      <article class="box green">
          <p>High</p>
          <% for product in @products %>
            <% if product.quantity > product.ideal_amount * 1.1 %>
                <p> <a href="/products/<%= product.id%>"> <%= product.name %> </a></p>
            <% end %>
          <% end %>
      </article>
  </section>
</article>
