<section id="menu_bar">
  <nav id="menu">
    <ul>
        <li>
            <a href="#">View Stock</a>
            <ul class="hidden">
                <li><a href="/full_stock">Full Stock</a></li>
                <li><a href="/stock_levels">Stock Levels</a></li>
                <li><a href="/categories">Categories</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Sales</a>
            <ul class="hidden">
                <li><a href="#">Targets</a></li>
                <li><a href="#">Waste</a></li>
            </ul>
        </li>
        <li><a href="/new_product">Add Product</a></li>
        <li><a href="/manufacturers">Manufacturers</a></li>
        <li><a href="/">Log Out!</a></li>
    </ul>
  </nav>
</section>

<h1> Products based on stock level </h1>
<article class="container">
  <section id="levels">
      <article class="box red">
          <p>LOW</p>
          <% for product in @products %>
            <% if product.quantity < product.ideal_amount %>
                <p> <a href="/products/<%= product.id%>"> <%= product.name %> </a></p>
            <% end %>
          <% end %>
      </article>
      <article class="box amber">
          <p>Medium</p>
          <% for product in @products %>
            <% if product.quantity <= product.ideal_amount * 1.1  && product.quantity >= product.ideal_amount %>
                <p> <a href="/products/<%= product.id%>"> <%= product.name %> </a></p>
            <% end %>
          <% end %>
      </article>
      <article class="box green">
          <p>High</p>
          <% for product in @products %>
            <% if product.quantity > product.ideal_amount * 1.1 %>
                <p> <a href="/products/<%= product.id%>"> <%= product.name %> </a></p>
            <% end %>
          <% end %>
      </article>
  </section>
</article>
