<article class="container">
  <h1> Products based on stock level </h1>
  <section id="levels">
      <ul class="chart">
        <li>
          <article title="LOW" class="box red">
            <% for product in @products %>
              <% if product.quantity < product.ideal_amount %>
                  <p> <a href="/products/<%= product.id%>"> <%= product.name %> </a></p>
              <% end %>
            <% end %>
          </article>
          <h1>LOW</h1>
        </li>

        <li>
          <article title="MED" class="box amber">
            <% for product in @products %>
              <% if product.quantity <= product.ideal_amount * 1.1  && product.quantity >= product.ideal_amount %>
                  <p> <a href="/products/<%= product.id%>"> <%= product.name %> </a></p>
              <% end %>
            <% end %>
          </article>
          <h1>MEDIUM</h1>
        </li>
        <li>
          <article title="HIGH" class="box green">
            <% for product in @products %>
              <% if product.quantity > product.ideal_amount * 1.1 %>
                  <p> <a href="/products/<%= product.id%>"> <%= product.name %> </a></p>
              <% end %>
            <% end %>
          </article>
          <h1>HIGH</h1>
        </li>
      </ul>
  </section>
</article>
